{% extends 'base.html.twig' %}

{% block title %}Domaine index{% endblock %}

{% block body %}
    <h1 class="jumbotron">Liste des categories</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td>{{ domaine.id }}</td>
                <td>{{ domaine.libelle }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': domaine.id}) }}">Afficher</a>
                    <a href="{{ path('categorie_edit', {'id': domaine.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Ajouter une nouvelle categorie</a>
{% endblock %}
